<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Show Scheduler</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="bg-img">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-transparent">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 justify-content-center">
                            <li>
                                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Show Scheduler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index">Shows</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Bands" asp-action="Index">Bands</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Weather" asp-action="Current">Weather</a>
                            </li>
                            <li class="nav-item">
                                <partial name="_LoginPartial" />
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </header>
    @if (TempData["VenueConflictErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <div class="container">
                <strong>Please try again!</strong> @TempData["VenueConflictErrorMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    }
    @if (TempData["ShowConflictErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <div class="container">
                <strong>Please try again!</strong> @TempData["ShowConflictErrorMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    }
    @if (TempData["OverlapErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <div class="container">
                <strong>Please try again!</strong> @TempData["OverlapErrorMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    }
    @if (TempData["TimeConflictErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <div class="container">
                <strong>Please try again!</strong> @TempData["TimeConflictErrorMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    }
    @if (TempData["DoubleBookedErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <div class="container">
                <strong>Please try again!</strong> @TempData["DoubleBookedErrorMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    }
    @if (TempData["BandRemovalConfirmationMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
            <div class="container">
                @TempData["BandRemovalConfirmationMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    }
    @if (TempData["ShowRemovalConfirmationMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
            <div class="container">
                @TempData["ShowRemovalConfirmationMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2021 - Show Scheduler
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
