@model ShowScheduler.Models.Show

<h3 style="text-align:center">Are you sure you want to remove this show?</h3>
<div class="row justify-content-center">
    <div class="col-md-4">
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ShowName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ShowName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Venue)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Venue)
            </dd>
        </dl>

        <form asp-action="Remove">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Remove" class="btn btn-danger" /> |
            <a asp-action="Index">Back to Shows</a>
        </form>
    </div>
</div>